@layer tokens {
    :where(:root, :host) {
  --sizes-sm: 0.625rem;
  --sizes-md: 1rem;
  --sizes-bg: 1.5rem;
  --sizes-xl: 2rem;
  --sizes-border-input: 1px;
  --sizes-breakpoint-sm: 640px;
  --sizes-breakpoint-md: 768px;
  --sizes-breakpoint-lg: 1024px;
  --sizes-breakpoint-xl: 1280px;
  --sizes-breakpoint-2xl: 1536px;
  --colors-primary-light: #7FFFD4;
  --colors-primary-dark: #40806A;
  --colors-secondary-light: #FFD47F;
  --colors-secondary-dark: #8F7747;
  --colors-tertiary-light: #D47FFF;
  --colors-tertiary-dark: #6A4080;
  --borders-primary: var(--sizes-border-input) solid var(--colors-primary-dark);
  --font-sizes-sm: var(--sizes-sm);
  --font-sizes-md: var(--sizes-md);
  --radii-input: var(--sizes-sm);
  --breakpoints-sm: 640px;
  --breakpoints-md: 768px;
  --breakpoints-lg: 1024px;
  --breakpoints-xl: 1280px;
  --breakpoints-2xl: 1536px
}
  }
  